<table border='0' class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
							
												  
																				 
					
																   
																	
						
													
												  
													
														   
													  
																			
                </span>
            {% endset %}
            {{ _('%(username)s sagte %(when)s',
                username=user_link, when=moment(post.timestamp).fromNow()) }}
            <br>
            <span id="post{{ post.id }}">{{ post.body }}</span>
          
            <!-- Übersetzung entfernt --> 
            {% if post.language and post.language != g.locale %}
            <br><br>
            <span id="translation{{ post.id }}">
                <a href="javascript:translate(
                            '#post{{ post.id }}',
                            '#translation{{ post.id }}',
                            '{{ post.language }}',
                            '{{ g.locale }}');"></a>
            </span>
            {% endif %}
            <!-- LIKE, wenn nicht eigener Post. -->
            {% if current_user.is_authenticated and current_user != post.author %}
            <form action="{% if post.is_liked_by(current_user) %}{{ url_for('main.unlike_post', post_id=post.id) }}{% else %}{{ url_for('main.like_post', post_id=post.id) }}{% endif %}" method="post">
                {% if post.is_liked_by(current_user) %}
                    <button type="submit" class="btn btn-danger">Unlike</button>
                {% else %}
                    <button type="submit" class="btn btn-success">Like</button>
                {% endif %}
            </form>
            {% endif %}
            <p>{{ post.like_count() }} Likes</p>

        </td>
        <td align="right">   
            <!-- DELETE, wenn eigener Post. -->         
            {% if current_user.is_authenticated and current_user == post.author %}
            <form action="{{ url_for('main.delete_post', post_id=post.id) }}" method="post" onsubmit="return confirm('bist du dir sicher?');">
                <button type="submit" class="btn btn-danger btn-xs"><span aria-disabled="true">&times;</span></button>
            </form>
            {% endif %}
        </td>
    </tr>
</table>
